#about {
    width: 70vw;
}
.aboutSectionContainer {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    margin-top: 10vh;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
        @media screen and (min-width: 600px) {
            font-size: 1.5rem;
        }
        @media screen and (min-width: 900px) {
            padding: 0 2rem;
        }
        @media screen and (min-width: 1150px) {
            padding: 0 10rem;
        }
        @media screen and (min-width: 1500px) {
            padding: 0 15rem;
        }
    }
    &__logo {
        width: 20%;
        @media screen and (min-width: 600px) {
            width: 10%;
        }
        @media screen and (min-width: 1500px) {
            width: 7%;
        }
    }
}